<footer class="footer">
  <div class="topSection">
    <div class="linksContainer">
      <span>{{ 'footer.letsTalk' | i18n }}</span>
      <div class="iconsContainer">
        <a href="{{urls.gmail}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/gmail-green.png" class="icon gmailIcon" />
        </a>
        <a href="{{urls.linkedin}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/linkedin-green.png" class="icon" />
        </a>
        <a href="{{urls.twitter}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/twitter-green.png" class="icon" />
        </a>
        <a href="{{urls.proz}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/proz-green.png" class="icon" />
        </a>
        <a href="{{urls.skype}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/skype-green.png" class="icon" />
        </a>
      </div>
    </div>
    <div class="logoContainer">
      <svg class="logo">{% renderFile './src/assets/icons/logo.svg', null, 'html'%}</svg>
    </div>
  </div>
  <div class="bottomSection">
    <div class="contactInfoContainer">
      <a href="{{urls.gmail}}" target="_blank" rel="noopener noreferrer" class="contactInfo">
        <img src="/assets/icons/mail-dark.png" class="icon" />
        <span>{{client.email}}</span>
      </a>
      <a class="contactInfo" href="{{urls.phone}}">
        <img src="/assets/icons/phone-dark.png" class="icon" />
        <span>{{client.phoneNumber}}</span>
      </a>
    </div>
    <div class="footnotesContainer">
      <span>
        {{ 'footer.webDesign' | i18n }}
        <a target="_blank" href="{{ footer.webDesignerUrl }}"> {{ footer.webDesigner }} </a>
      </span>
      <span>
        {{ 'footer.logoDesign' | i18n }}
        <a target="_blank" href="{{ footer.logoDesignerUrl }}"> {{ footer.logoDesigner }} </a>
      </span>
      <span>
        {{ 'footer.photoDesign' | i18n }}
        <a target="_blank" href="{{ footer.photographerUrl }}"> {{ footer.photographer }} </a>
      </span>
      <span>{{ footer.copyright }}</span>
      <div class="legalSection">
        <span onClick="{handleLegalLinkClick(LEGAL_SECTIONS.LEGAL_NOTICE)}"
          >{{ 'footer.legal' | i18n }}</span
        >
        <span onClick="{handleLegalLinkClick(LEGAL_SECTIONS.PRIVACY_POLICY)}"
          >{{ 'footer.privacy' | i18n }}</span
        >
      </div>
    </div>
  </div>
</footer>
