<header>
  <nav class="header" aria-label="{{aria.navbar.navbar}}">
    <a href="#" aria-label="{{aria.navbar.logo}}">
      <svg class="logo">{% renderFile './src/assets/icons/logo.svg', null, 'html' %}</svg>
    </a>
    <menu class="sectionsContainer" role="list" aria-label="{{aria.navbar.sectionsNavigation}}">
      {% for section in sections %}
      <li>
        <a
          id="{{section.url}}-url"
          href="#{{section.url}}"
          aria-label="Scroll to {{section.label}} section"
        >
          {{ ('sections.titles.' + section.id) | i18n | uppercase}}
        </a>
      </li>
      {% endfor %}
    </menu>

    <div class="localePickerContainer">{% include "components/locale-picker.html" %}</div>
    {% renderFile './src/assets/icons/burger-menu.svg', null, 'html'%} {% renderFile
    './src/assets/icons/close.svg', null, 'html'%}
    <div id="header-dropdown" class="headerDropdown" aria-label="{{aria.navbar.dropdown}}">
      <menu class="dropdownSectionsContainer" aria-label="{{aria.navbar.sectionsNavigation}}">
        {% for section in sections %}
        <li>
          <a
            class="dropdown-section"
            href="#{{section.url}}"
            aria-label="Scroll to {{section.label}} section"
          >
            {{ ('sections.titles.' + section.id) | i18n | uppercase}}
          </a>
        </li>
        {% endfor %}
      </menu>
      {% include "components/locale-picker.html" %}
    </div>
  </nav>
</header>
