<section class="aboutMeSection" id="about-me">
  <h2 class="sectionTitle">{{ 'sections.titles.aboutMe' | i18n }}</h2>
  <div class="sectionBodyContainer">
    <div class="linkSectionContainer">
      <img src="/assets/images/portrait.jpg" alt="florencia-romero-portrait" class="portrait" />
      <div class="linkRow">
        <a href="{{urls.gmail}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/gmail.png" class="icon" />
        </a>
        <a href="{{urls.linkedin}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/linkedin.png" class="icon" />
        </a>
        <a href="{{urls.twitter}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/twitter.png" class="icon" />
        </a>
        <a href="{{urls.proz}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/proz.png" class="icon" />
        </a>
        <a href="{{urls.skype}}" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/skype.png" class="icon" />
        </a>
      </div>
      <a href="{{urls.atraeFlor}}" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/atrae-logo-big.png" alt="atrae" class="atraeLogo" />
      </a>
      <div class="awardsText">
        {{'sections.aboutMe.awards.part1' | i18n}}{{' '}}
        <a href="{{urls.atraeXAwards}}" target="_blank" rel="noreferrer">
          {{'sections.aboutMe.awards.part2' | i18n}}
        </a>
        {{' '}} {{'sections.aboutMe.awards.part3' | i18n}} {{' '}}
        <a href="{{urls.atraeXiAwards}}" target="_blank" rel="noreferrer">
          {{'sections.aboutMe.awards.part4' | i18n}}
        </a>
        {{' '}} {{'sections.aboutMe.awards.part5' | i18n}}
      </div>
    </div>
    <div class="textSectionContainer">
      {{'sections.aboutMe.text.part1' | i18n}} <b>{{'sections.aboutMe.text.part2' | i18n}}</b>{{'sections.aboutMe.text.part3' | i18n}} <b>{{'sections.aboutMe.text.part4' | i18n}}</b>{{'sections.aboutMe.text.part4a' | i18n}}
      {{'sections.aboutMe.text.part4b' | i18n}} <b>{{'sections.aboutMe.text.part4c' | i18n}}</b>{{'sections.aboutMe.text.part4d' | i18n}} <a href="{{urls.atraeAbout}}" target="_blank" rel="noreferrer"> {{'ATRAE_NAME' | i18n}}</a> {{'sections.aboutMe.text.part4e' | i18n}} {{'sections.aboutMe.text.part5' | i18n}}
      <b>{{'sections.aboutMe.text.part6' | i18n}}</b>{{'sections.aboutMe.text.part7' | i18n}} <b>{{'sections.aboutMe.text.part8' | i18n}}</b> {{'sections.aboutMe.text.part9' | i18n}}
    </div>
  </div>
</section>
