<section class="portfolioSection" id="portfolio">
  <h2 class="sectionTitle">{{'sections.titles.portfolio' | i18n}}</h2>
  <div class="sectionBodyContainer">
    <div class="portfolioLinkContainer">
      <a href="{{urls.atraeFlor}}" target="_blank" rel="noopener noreferrer">
        <img src="/assets/images/atrae-logo-db.png" alt="florencia romero atrae registry" />
      </a>
      <div class="portfolioText">
        <span>{{'sections.portfolio.text1' | i18n}}</span>
        <a href="{{urls.atraeFlor}}" target="_blank" rel="noopener noreferrer"
          >{{'sections.portfolio.textLink' | i18n}}</a
        >
        <span>{{'sections.portfolio.text2' | i18n}}</span>
      </div>
    </div>
    <div class="carrouselContainer">{% include "components/carousel.html" %}</div>
  </div>
</section>
