<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ 'meta.description' | i18n }}" />
    <meta name="keywords" content="{{ 'meta.keywords' | i18n }}" />
    <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

    <!--Social Media Display-->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ 'meta.description' | i18n  }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
    <meta property="og:image" content="/assets/images/logo.png" />
    <meta property="og:image:secure_url" content="/assets/images/logo.png" />

    <!--Favicons-->
    <link rel="apple-touch-icon" href="/assets/images/logo.png" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#7ec6bf" />

    <!-- Preloads -->
    {% for url in collections.preloadUrls %}
    <link rel="preload" as="image" href="{{ url }}" />
    {% endfor %}
    <link
      rel="preload"
      as="font"
      type="font/otf"
      href="/assets/fonts/VisbyRoundCF-DemiBold.otf"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/otf"
      href="/assets/fonts/VisbyRoundCF-Medium.otf"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/otf"
      href="/assets/fonts/VisbyRoundCF-Bold.otf"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/otf"
      href="/assets/fonts/VisbyRoundCF-Light.otf"
      crossorigin
    />

    <link rel="stylesheet" href="/assets/css/index.css" />
    <link
      defer
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      defer
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script defer src="https://www.gstatic.com/firebasejs/10.12.1/firebase-app-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.1/firebase-config-compat.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/10.12.1/firebase-storage-compat.js"></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
        const firebaseConfig = {{ env.FIREBASE_CONFIG | safe }};
        firebase.initializeApp(firebaseConfig);
      });
    </script>
    <script defer src="/assets/js/index.js"></script>
    {% block head %}{% endblock %}

    <title>
      {{ 'meta.title' | i18n }} | {{ client.name }} | {{ client.address.city }}, {{
      'meta.address.country' | i18n }}
    </title>
  </head>
  <body>
    {% include "components/header.html" %}
    <main class="mainPageContainer">
      {% include "sections/title.html" %} {% include "sections/services.html" %} {% include
      "sections/portfolio.html" %} {% include "sections/about-me.html" %} {% include
      "sections/contact.html" %}
    </main>
    {% include "components/footer.html" %} {% include "components/go-top-button.html" %}
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script defer src="/assets/js/carousel.js"></script>
  </body>
</html>
