@font-face {
  font-family: visbyr;
  src: url(../fonts/VisbyRoundCF-Regular.otf);
}
@font-face {
  font-family: visbyr-light;
  src: url(../fonts/VisbyRoundCF-Light.otf);
}
@font-face {
  font-family: visbyr-medium;
  src: url(../fonts/VisbyRoundCF-Medium.otf);
}
@font-face {
  font-family: visbyr-bold;
  src: url(../fonts/VisbyRoundCF-Bold.otf);
}
@font-face {
  font-family: visbyr-demibold;
  src: url(../fonts/VisbyRoundCF-DemiBold.otf);
}
@font-face {
  font-family: visbyr-heavy;
  src: url(../fonts/VisbyRoundCF-Heavy.otf);
}
:root {
  --font-bold: visbyr-bold;
  --font-demibold: visbyr-demibold;
  --font-light: visbyr-light;
  --font-main: visbyr-medium;
  --font-size-2xs: 0.75rem;
  --font-size-xs: 1rem;
  --font-size-s: 1.125rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 3.5rem;
  --font-size-6xl: 4rem;
  --font-size-7xl: 5rem;
}

:root {
  --icon-size: 2.25rem;
  --services-icons-size: 5rem;
  --section-body-padding: 0 var(--spacing-20xl);
  --navbar-height: 3.5rem;
  --navbar-padding-vertical: 1rem;
  --navbar-total-height: calc(
    var(--navbar-height) + var(--navbar-padding-vertical) + var(--navbar-padding-vertical)
  );
  --spacing-7xs: 0.125rem;
  --spacing-6xs: 0.25rem;
  --spacing-5xs: 0.5rem;
  --spacing-4xs: 0.75rem;
  --spacing-3xs: 1rem;
  --spacing-2xs: 1.25rem;
  --spacing-xs: 1.5rem;
  --spacing-s: 1.75rem;
  --spacing-m: 2rem;
  --spacing-l: 2.25rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 2.75rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 3.25rem;
  --spacing-5xl: 3.5rem;
  --spacing-6xl: 3.75rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 4.25rem;
  --spacing-9xl: 4.5rem;
  --spacing-10xl: 6rem;
  --spacing-11xl: 7rem;
  --spacing-15xl: 9rem;
  --spacing-18xl: 11rem;
  --spacing-20xl: 12rem;
  --color-primary-dark-3: #6da19c;
  --color-primary-dark-2: #2c6660;
  --color-primary-dark-1: #4f9991;
  --color-primary: #7ec6bf;
  --color-primary-bright-1: #5fd1c6;
  --color-primary-bright-2: #99c1bd;
  --color-primary-bright-3: #c5e5e2;
  --color-primary-bright-4: #e6f3f2;
  --color-secondary: #4b3e91;
  --color-text-black: #000000;
  --color-text-gray: #535353;
  --color-background-1: #f8f8f8;
  --shadow-primary: rgba(0, 0, 0, 0.08) 1px 2.45px 3px;
  --shadow-primary-opposite: rgba(0, 0, 0, 0.12) 1px 2.45px 3px inset;
  --shadow-interior: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-l: 0.75rem;
  --border-radius-xl: 1rem;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-background-1);
  color: var(--color-text-gray);
  font-size: var(--font-size-m);
  letter-spacing: 3px;
}
body strong {
  font-family: var(--font-bold);
}
body ul,
body ol,
body menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
body button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  letter-spacing: 3px;
}
body fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

.icon {
  height: var(--icon-size);
  width: var(--icon-size);
}

.gmailIcon {
  width: 40px;
}

@media (max-width: 1600px) {
  :root {
    --section-body-padding: 0 var(--spacing-18xl);
  }
}
@media (max-width: 1500px) {
  :root {
    --section-body-padding: 0 var(--spacing-15xl);
  }
}
@media (max-width: 1400px) {
  :root {
    --section-body-padding: 0 var(--spacing-10xl);
  }
}
@media (max-width: 1240px) {
  :root {
    --section-body-padding: 0 var(--spacing-3xl);
  }
}
@media (max-width: 768px) {
  :root {
    --section-body-padding: 0 var(--spacing-s);
  }
}
@media (max-width: 480px) {
  :root {
    --section-body-padding: 0 var(--spacing-4xs);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--navbar-padding-vertical) 3rem;
  background-color: white;
  box-shadow: var(--shadow-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header a {
  text-decoration: none;
}
.header .logo {
  width: 56px;
  fill: var(--color-primary-dark-1);
  cursor: pointer;
}
.header .sectionsContainer,
.header .dropdownSectionsContainer {
  display: flex;
  gap: var(--spacing-2xs);
}
.header .sectionsContainer a,
.header .dropdownSectionsContainer a {
  color: var(--color-primary-dark-2);
  cursor: pointer;
}
.header .sectionsContainer a::after,
.header .dropdownSectionsContainer a::after {
  display: block;
  border-bottom: solid 1px var(--color-primary-dark-2);
  content: "";
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.header .sectionsContainer .currentSection::after,
.header .dropdownSectionsContainer .currentSection::after {
  transform: scaleX(1);
}
.header .dropdownIcon {
  display: none;
  width: 33px;
  height: 33px;
  color: var(--color-primary-dark-2);
  stroke: var(--color-primary-dark-2);
  stroke-width: 0.3px;
}
.header .headerDropdown {
  display: none;
  position: absolute;
  top: calc(var(--navbar-total-height) - 1px);
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: var(--spacing-2xs);
  box-shadow: var(--shadow-primary);
}
.header .headerDropdown.open {
  display: flex;
}
.header .headerDropdown .dropdownSectionsContainer {
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-s);
}

@media (max-width: 864px) {
  .header {
    justify-content: space-between;
  }
  .header .logoContainer {
    position: relative;
    padding: unset;
  }
  .header .sectionsContainer {
    display: none;
  }
  .header .localePickerContainer {
    display: none;
  }
  .header .dropdownIcon.visible {
    display: block;
  }
}
.localePicker {
  display: flex;
  gap: var(--spacing-4xs);
}
.localePicker a {
  text-align: center;
  padding: calc(var(--spacing-6xs) + 3px);
  padding-right: var(--spacing-6xs);
  color: inherit;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}
.localePicker .selectedLocale {
  border: 2px solid var(--color-primary-dark-1);
}

@media (max-width: 864px) {
  .localePicker {
    position: relative;
    padding-top: var(--spacing-m);
  }
}
.titleSection {
  padding-top: var(--navbar-total-height);
}
.titleSection .titleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 32rem;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-9xl) var(--spacing-10xl);
  box-shadow: var(--shadow-primary);
  font-family: var(--font-light);
  color: var(--color-secondary);
  text-align: center;
  background-image: url(../backgrounds/waves-header.svg);
  background-size: cover;
}
.titleSection .titleContainer .logo {
  position: relative;
  left: 0;
  height: 330px;
}
.titleSection .titleContainer h1,
.titleSection .titleContainer h2 {
  margin: 0;
}
.titleSection .titleContainer :nth-child(2) {
  font-size: var(--font-size-7xl);
}
.titleSection .titleContainer :nth-child(3),
.titleSection .titleContainer :nth-child(4) {
  white-space: pre-wrap;
  font-size: var(--font-size-3xl);
}
.titleSection .titleContainer::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 4rem;
  width: 12rem;
  height: 6rem;
  background-color: var(--color-background-1);
  border-top-left-radius: 13rem;
  border-top-right-radius: 13rem;
  box-shadow: var(--shadow-primary-opposite);
}
.titleSection .titleContainer::after {
  position: absolute;
  bottom: 0;
  right: 10rem;
  height: 20rem;
  width: 2px;
  background-color: var(--color-background-1);
  content: "";
}
.titleSection .headerDivider {
  position: relative;
  width: 100%;
  height: 0;
  z-index: 2;
}
.titleSection .headerDivider::before {
  content: "";
  position: absolute;
  right: 4rem;
  background-color: var(--color-background-1);
  width: 188.5px;
  height: 1rem;
}

@media (max-width: 1240px) {
  .titleSection .titleContainer {
    padding-bottom: var(--spacing-20xl);
  }
  .titleSection .titleContainer::after {
    display: none;
  }
  .titleSection .titleContainer::before {
    right: calc(50% - 6rem);
  }
  .titleSection .headerDivider::before {
    right: calc(50% - 6rem);
  }
}
@media (max-width: 480px) {
  .titleSection .titleContainer .logo {
    height: 240px;
  }
}
.servicesSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.servicesSection .sectionTitle {
  position: relative;
  position: relative;
  color: var(--color-primary-dark-2);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-light);
  letter-spacing: 10px;
  margin-top: unset;
  margin-bottom: 4rem;
}
.servicesSection .sectionBodyContainer {
  position: relative;
  padding: var(--section-body-padding);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: var(--spacing-9xl);
}
.servicesSection .service {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-4xl) var(--spacing-6xl);
  box-shadow: var(--shadow-primary);
  border-radius: 10px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-image: url(../backgrounds/gradient-services.svg);
  background-size: cover;
}
.servicesSection .service img {
  height: var(--services-icons-size);
  width: var(--services-icons-size);
  align-self: center;
}
.servicesSection .service .title {
  height: 72px;
  font-family: var(--font-bold);
  color: var(--color-primary-dark-2);
  text-align: center;
}
.servicesSection .service .bodyText {
  padding-left: 10%;
}

@media (max-width: 1850px) {
  .servicesSection .sectionBodyContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 1170px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 220px;
    padding-right: 220px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 1100px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (max-width: 1020px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 864px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 768px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  .servicesSection .sectionBodyContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.portfolioSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolioSection .sectionTitle {
  position: relative;
  color: var(--color-primary-dark-2);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-light);
  letter-spacing: 10px;
  margin-top: unset;
  margin-bottom: 4rem;
}
.portfolioSection .sectionBodyContainer {
  position: relative;
  padding: var(--section-body-padding);
}
.portfolioSection .sectionBodyContainer .portfolioLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
  padding-bottom: var(--spacing-9xl);
}
.portfolioSection .sectionBodyContainer .portfolioLinkContainer .portfolioText a {
  color: var(--color-primary-dark-2);
  text-underline-offset: 10%;
}
.portfolioSection .sectionBodyContainer .carrouselContainer .carrouselItemContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1240px) {
  .portfolioSection .sectionBodyContainer .portfolioLinkContainer {
    padding-bottom: var(--spacing-m);
  }
  .portfolioSection .sectionBodyContainer .carrouselContainer {
    padding: 5%;
  }
}
@media (max-width: 768px) {
  .portfolioSection .carrouselContainer {
    padding: 0 10%;
  }
}
.carousel img {
  height: 327px;
  width: 220px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
}
.slick-slider .slick-arrow::before {
  color: var(--color-primary);
  font-size: 50px;
}
.slick-slider .slick-arrow.slick-prev {
  left: -55px;
}
.slick-slider .slick-arrow.slick-next {
  right: -55px;
}

@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}
.aboutMeSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.aboutMeSection .sectionTitle {
  position: relative;
  color: var(--color-primary-dark-2);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-light);
  letter-spacing: 10px;
  margin-top: unset;
  margin-bottom: 4rem;
}
.aboutMeSection .sectionBodyContainer {
  position: relative;
  padding: var(--section-body-padding);
  display: flex;
  flex-direction: row;
}
.aboutMeSection .sectionBodyContainer a {
  color: var(--color-primary-dark-2);
  text-underline-offset: 10%;
}
.aboutMeSection .sectionBodyContainer .linkSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25rem;
  gap: 24px;
}
.aboutMeSection .sectionBodyContainer .linkSectionContainer .portrait {
  height: 25rem;
  width: 25rem;
  border-radius: 10px;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  box-shadow: var(--shadow-primary);
}
.aboutMeSection .sectionBodyContainer .linkSectionContainer .linkRow {
  padding: var(--spacing-3xs) 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.aboutMeSection .sectionBodyContainer .linkSectionContainer .atraeLogo {
  height: 4rem;
  width: 9rem;
}
.aboutMeSection .sectionBodyContainer .linkSectionContainer .awardsText a {
  white-space: nowrap;
}
.aboutMeSection .sectionBodyContainer .textSectionContainer {
  padding: 0 0 0 var(--spacing-20xl);
  white-space: pre-line;
  text-align: justify;
}
.aboutMeSection .sectionBodyContainer .textSectionContainer b {
  font-family: var(--font-bold);
}

@media (max-width: 1600px) {
  .aboutMeSection .sectionBodyContainer {
    flex-direction: column;
    align-items: center;
  }
  .aboutMeSection .sectionBodyContainer .linkSectionContainer {
    margin-bottom: 88px;
  }
  .aboutMeSection .sectionBodyContainer .textSectionContainer {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .aboutMeSection .sectionBodyContainer .linkSectionContainer {
    width: 100% !important;
  }
  .aboutMeSection .sectionBodyContainer .linkSectionContainer .portrait {
    width: 100% !important;
    height: unset !important;
  }
  .aboutMeSection .sectionBodyContainer .textSectionContainer {
    text-align: left;
  }
}
.contactSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-bottom: unset;
}
.contactSection *,
.contactSection *::after,
.contactSection *::before {
  box-sizing: border-box;
}
.contactSection .sectionTitle {
  position: relative;
  color: var(--color-primary-dark-2);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-light);
  letter-spacing: 10px;
  margin-top: unset;
  margin-bottom: 4rem;
}
.contactSection .sectionBodyContainer {
  position: relative;
  padding: var(--section-body-padding);
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
  position: relative;
}
.contactSection .sectionBodyContainer .sectionSubtitle {
  text-align: center;
  font-size: var(--font-size-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-5xs);
  margin: 0 0 var(--spacing-10xl);
}
.contactSection .sectionBodyContainer .sectionSubtitle strong {
  color: var(--color-primary-dark-2);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer {
  display: flex;
  width: 100%;
  gap: 10%;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .contactInfoContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 300px;
  gap: var(--spacing-s);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .contactInfoContainer .blobOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(var(--shadow-primary));
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .contactInfoContainer .contactInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing-4xs);
  color: inherit;
  text-decoration: none;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form {
  display: flex;
  flex-direction: column;
  width: 480px;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:not([type=checkbox]),
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form textarea {
  box-sizing: border-box;
  font-family: var(--font-light);
  margin: var(--spacing-7xs) 0 var(--spacing-5xs);
  background-color: var(--color-primary-bright-3);
  border: none;
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-interior);
  padding: var(--spacing-5xs);
  letter-spacing: 2.5px;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:not([type=checkbox]):focus,
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form textarea:focus {
  outline-color: var(--color-primary-dark-1);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 8rem;
  max-height: 20rem;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .checkBoxContainer {
  font-size: var(--font-size-xs);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .checkBoxContainer input {
  margin: 0 var(--spacing-4xs) 0 0;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .checkBoxContainer span {
  color: var(--color-primary-dark-2);
  text-decoration: none;
  font-family: var(--font-bold);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .checkBoxContainer span:hover,
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .checkBoxContainer input:hover {
  cursor: pointer;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .sendButton {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  min-width: 8rem;
  box-shadow: var(--shadow-primary);
  border: none;
  color: var(--color-primary-dark-2);
  font-size: var(--font-size-m);
  transition: 0.3s ease;
  outline: none;
  border-radius: var(--border-radius-m);
  padding: 2% 1%;
  background-color: transparent;
  border: 3px solid var(--color-primary-dark-2);
  margin-top: var(--spacing-2xs);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .sendButton:hover:not([disabled]) {
  cursor: pointer;
  transform: scale(1.04);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .sendButton:active:not([disabled]) {
  transform: translateY(3px) scale(1.07);
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .sendButton[disabled] {
  opacity: 0.5;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form .smallTextContainer {
  margin-top: var(--spacing-3xs);
  font-size: var(--font-size-2xs);
  line-height: 1.5;
  text-align: justify;
}
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:-webkit-autofill,
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:-webkit-autofill:hover,
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:-webkit-autofill:focus,
.contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form input:-webkit-autofill:active {
  box-shadow: var(--shadow-interior), 0 0 0 30px var(--color-primary-bright-2) inset;
  -webkit-box-shadow: var(--shadow-interior), 0 0 0 30px var(--color-primary-bright-2) inset;
}
.contactSection .sectionBodyContainer::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 96.7px);
  background-color: var(--color-background-1);
  width: 192.5px;
  height: 1rem;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 7px;
}

@media (max-width: 1240px) {
  .contactSection .sectionBodyContainer .sectionSubtitle {
    margin-bottom: var(--spacing-5xl);
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .contactSection .sectionBodyContainer {
    padding-bottom: 6rem;
  }
  .contactSection .sectionBodyContainer .sectionSubtitle {
    margin-bottom: var(--spacing-xl);
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer {
    flex-direction: column;
    align-items: center;
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .contactInfoContainer {
    width: 400px;
    margin: 0 0 var(--spacing-l);
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer {
    width: 100%;
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .contactInfoContainer {
    width: 100%;
  }
  .contactSection .sectionBodyContainer .sectionBodyColumnsContainer .formContainer .form {
    width: 95%;
  }
}
.footer .topSection {
  position: relative;
  display: flex;
  padding: var(--spacing-3xl) 0;
  background-image: url(../backgrounds/waves-footer.svg);
  background-size: cover;
}
.footer .topSection .linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: var(--spacing-l);
  font-size: var(--font-size-3xl);
  font-family: var(--font-light);
  color: var(--color-primary-dark-2);
}
.footer .topSection .linksContainer .iconsContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-l);
}
.footer .topSection .linksContainer .iconsContainer svg {
  box-shadow: var(--shadow-primary);
}
.footer .topSection .logoContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}
.footer .topSection .logoContainer .logo {
  width: 15rem;
  height: 15rem;
  justify-self: center;
  fill: var(--color-primary);
  filter: drop-shadow(var(--shadow-primary));
}
.footer .topSection::before {
  position: absolute;
  top: 0;
  left: calc(50% - 6rem);
  width: 12rem;
  height: 6rem;
  background-color: var(--color-background-1);
  content: "";
  border-bottom-left-radius: 13rem;
  border-bottom-right-radius: 13rem;
  box-shadow: var(--shadow-primary-opposite);
}
.footer .topSection::after {
  position: absolute;
  top: 0;
  left: calc(50% - 6rem + 6rem + 1px);
  height: 19rem;
  width: 2px;
  background-color: var(--color-background-1);
  content: "";
}
@media (max-width: 768px) {
  .footer .topSection::after {
    display: none;
  }
}
.footer .bottomSection {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-s);
  padding: var(--spacing-s) var(--spacing-10xl);
  background-color: var(--color-primary-dark-3);
  color: var(--color-text-black);
}
.footer .bottomSection .contactInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-2xs);
}
.footer .bottomSection .contactInfoContainer .contactInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing-4xs);
  color: inherit;
  text-decoration: none;
}
.footer .bottomSection .footnotesContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: var(--spacing-6xs);
  font-size: var(--font-size-2xs);
}
.footer .bottomSection .footnotesContainer a {
  color: var(--color-text-black);
  text-decoration: none;
  text-underline-offset: 4px;
}
.footer .bottomSection .footnotesContainer a:hover {
  text-decoration: underline;
}
.footer .bottomSection .footnotesContainer span {
  margin: 2px 0;
}
.footer .bottomSection .footnotesContainer .legalSection {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2xl);
  padding-top: var(--spacing-4xs);
}
.footer .bottomSection .footnotesContainer .legalSection span {
  cursor: pointer;
  color: var(--color-text-black);
  text-decoration: none;
  text-underline-offset: 4px;
}
.footer .bottomSection .footnotesContainer .legalSection span:hover {
  text-decoration: underline;
}

@media (max-width: 1240px) {
  .footer .bottomSection {
    padding: var(--spacing-l) var(--spacing-6xl);
  }
}
@media (max-width: 768px) {
  .footer .topSection {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-l);
    padding-top: var(--spacing-11xl);
    background-image: url(../../assets/backgrounds/waves-header.svg);
  }
  .footer .topSection .logoContainer .logo {
    height: unset;
  }
  .footer .bottomSection {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .footer .bottomSection .contactInfoContainer {
    align-items: center;
  }
  .footer .bottomSection .footnotesContainer {
    text-align: center;
  }
  .footer .bottomSection .footnotesContainer .legalSection {
    justify-content: space-between;
  }
}
.goTopButton {
  position: fixed;
  bottom: 12px;
  right: 19px;
  pointer-events: none;
  opacity: 0;
}
.goTopButton svg {
  width: 28.5px;
  height: 28.5px;
  z-index: 100;
  transition: all 0.3s;
  background-color: transparent;
  filter: drop-shadow(var(--shadow-primary));
}
.goTopButton.visible {
  opacity: 0.3;
  pointer-events: all;
}
.goTopButton:hover {
  cursor: pointer;
}
.goTopButton:hover svg {
  transform: scale(1.07);
}
.goTopButton:active svg {
  transform: translateY(3px) scale(1.07);
}

@media (max-width: 480px) {
  .goTopButton {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
