.goTopButton {
  position: fixed;
  bottom: 12px;
  right: 19px;
  pointer-events: none;
  opacity: 0;

  svg {
    width: 28.5px;
    height: 28.5px;
    z-index: 100;
    transition: all 0.3s;
    background-color: transparent;
    filter: drop-shadow(var(--shadow-primary));
  }

  &.visible {
    opacity: 0.3;
    pointer-events: all;
  }

  &:hover {
    cursor: pointer;
    svg {
      transform: scale(1.07);
    }
  }

  &:active svg {
    transform: translateY(3px) scale(1.07);
  }
}

@media (max-width: 480px) {
  .goTopButton {
    display: none;
  }
}
